{% extends 'base.html' %}
{% load static %}

{% block title %}
  Политика Противодействия Отмыванию Денег (AML) | Quickex
{% endblock %}

{% block meta %}
  <meta name="description" content="Ознакомьтесь с условиями использования платформы относительно борьбы с отмыванием денег (AML), чтобы понять, как мы создаем безопасную и прозрачную среду в сфере." />
  <meta property="og:description" content="Ознакомьтесь с условиями использования платформы относительно борьбы с отмыванием денег (AML), чтобы понять, как мы создаем безопасную и прозрачную среду в сфере." />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/swiper-vue.BDUAz1xZ.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Dialog.DvuX66LT.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index.B6R-is7E.css' %}" />
  <link rel="stylesheet" href="{% static 'css/default.CnLTM92Y.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index.CJFaGB0B.css' %}" />
  <link rel="stylesheet" href="{% static 'css/aml.css' %}" />
{% endblock %}

{% block content %}
  <main data-v-7cfced15="">
    <!-- [ -->
    <div class="nuxt-loading-indicator" style="
              position: fixed;
              top: 0px;
              right: 0px;
              left: 0px;
              pointer-events: none;
              width: auto;
              height: 3px;
              opacity: 0;
              background: repeating-linear-gradient(
                to right,
                rgb(0, 220, 130) 0%,
                rgb(52, 205, 254) 50%,
                rgb(0, 71, 225) 100%
              );
              transform: scaleX(0);
              transform-origin: left center;
              transition: transform 0.1s ease 0s, height 0.4s ease 0s,
                opacity 0.4s ease 0s;
              z-index: 999999;
            "></div>
    <article class="new-page">
      <div class="-mt-[81px] flex bg-cover bg-bottom pb-[47px] xl:pb-[64px]" style="
                background-image: url('https://Quickex/_nuxt/sky.Cdm85pbs.png');
              ">
        <div class="container mx-auto text-white mt-[90px] xl:mt-[100px]">
          <header>
            <h1 class="text-center font-bold text-[24px] xl:text-[54px]">Политика AML в Quickex</h1>
          </header>
        </div>
      </div>
      <div class="container mx-auto text-white py-10 xl:py-16">
        <ol>
          <li class="h2">
            <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4">Политика AML</h2>
            <ol>
              <li>
                Политика Quickex по борьбе с отмыванием денег, противодействию финансированию терроризма (далее AML политика) и политика «Знай своего клиента» (далее — «Политика KYC») предназначена для предотвращения и снижения возможных рисков участия сервис Quickex в любой незаконной деятельности. Международные законы и регуляторы, а так же «Пятая директива по борьбе с легализацией преступных доходов и финансированием терроризма (
                <a href="https://ec.europa.eu/info/business-economy-euro/banking-and-finance/financial-supervision-and-risk-management/anti-money-laundering-and-countering-financing-terrorism_en#international" target="_blank">5AMLD</a>
                ), требуют от сервиса Quickex внедрения эффективных внутренних процедур и механизмов для предотвращения отмывания денег, финансирования терроризма, торговли наркотиками и людьми, распространения оружия массового уничтожения, коррупции и взяточничества, а также принятия мер в случае любых форм подозрительных действий и активности своих Пользователей. Обменный пункт, как поставщик услуг виртуальных/криптовалютных активов обязан проводить проверку всех подозрительных транзакций виртуальных/криптовалютных активов. В ходе проверки, помимо прочего, необходимо провести идентификацию пользователя (KYC) и установить происхождение виртуального/криптовалютного актива. Также, на период проведения проверки транзакции, виртуальный/криптовалютный актив обязан быть удержан на балансе.<ol>
                  <li>Создавая заказ на сайте, Клиент дает свое согласие, что в отношение него может быть проведена AML/KYC-проверка.</li>
                  <li>Процедура AML/KYC-проверки в отношении клиентов и транзакций, производится AML-офицером сервиса Quickex, а так же нашим поставщиком ликвидности, а именно криптовалютной биржей.</li>
                  <li>В рамках проведения AML/KYC -проверки Клиент дает согласие на обработку и хранение его персональных данных, а также в случаи необходимости, на передачу этих данных поставщику ликвидности, а именно AML офицеру криптовалютной биржи.</li>
                  <li>
                    <h3>Процедура AML/KYC включает в себя комплекс разработанных мер:</h3>
                    <ul>
                      <li>Осуществление постоянного мониторинга транзакций, проходящих через сервис Quickex</li>
                      <li>Назначение ответственного лица (Money Laundering Reporting Officer)</li>
                      <li>Риск-ориентированный подход</li>
                      <li>Надлежащая проверка клиентов</li>
                      <li>Повышение профессиональных навыков и знаний сотрудников сервиса Quickex</li>
                      <li>Взаимодействие с государственными органами в установленных законами случаях</li>
                      <li>Бухучет, ведение учета, делопроизводство</li>
                    </ul>
                  </li>
                </ol>
              </li>
              <li>
                <h3>Если по результатам проведенного анализа AML-криптовалютых активов будет выявлен риск выше 40%, либо получена любая метка из нижеперечисленных:</h3>
                <ul>
                  <li>DARK SERVICE (связанные с тёмной стороной интернета)</li>
                  <li>SCAM (мошенничество)</li>
                  <li>STOLEN (кража или кража данных)</li>
                  <li>MIXING (MIXER) (смешивание средств для сокрытия их происхождения)</li>
                  <li>SEXTORTION (вымогательство на основе компрометирующей информации)</li>
                  <li>RANSOMWARE (вымогательство с использованием вредоносных программ-вымогателей)</li>
                  <li>HACK (взлом)</li>
                  <li>PHISHING (фишинг)</li>
                  <li>TERRORISM FINANCING (финансирование терроризма)</li>
                  <li>FRAUD (мошенничество)</li>
                  <li>BLACKLIST (присутствие в черных списках)</li>
                  <li>STILL UNDER INVESTIGATION (по-прежнему находится под расследованием)</li>
                  <li>CYBERCRIME ORGANIZATION (организация, связанная с киберпреступностью)</li>
                  <li>NARCOTICS (наркотики)</li>
                  <li>CHILD ABUSE (детское насилие)</li>
                  <li>HUMAN TRAFFICKING (торговля людьми)</li>
                  <li>SANCTIONS (санкции)</li>
                </ul>
                <p>и другие высокорискованные активы, то транзакция Клиента может быть заморожена на неопределенный срок до полного прохождения верификации личности (KYC).</p>
                <ol>
                  <li>При получении служебного запроса от нашего поставщика ликвидности, а именно криптовалютной биржей, транзакция Клиента может быть заморожена на неопределенный срок до полного прохождения верификации личности (KYC).</li>
                  <li>При получении запроса от компетентных органов, транзакция Клиента может быть заморожена на неопределенный срок до полного прохождения верификации личности (KYC).</li>
                  <li>При выявлении любой подозрительной активности AML-офицером сервиса Quickex, транзакция Клиента может быть заморожена на неопределенный срок до полного прохождения верификации личности (KYC).</li>
                </ol>
              </li>
              <li>
                <h3>Документы для прохождения KYC-проверки:</h3>
                <p>Для подтверждения происхождения средств мы просим вас в полном объеме ответить на следующие вопросы:</p>
                <ul>
                  <li>посредством какой платформы средства поступили к вам? Пожалуйста, предоставьте скриншоты из истории выводов кошелька/платформы отправителя, а также ссылки на обе транзакции в эксплорере</li>
                  <li>за какую услугу вы получили средства</li>
                  <li>на какую сумму была транзакция, а также дата и время ее проведения</li>
                  <li>через какое контактное лицо вы общались с отправителем средств? Пожалуйста, предоставьте скриншоты переписки с отправителем, где мы можем увидеть подтверждение отправки средств.</li>
                </ul>
                <h3>Также, просим вас предоставить следующие материалы:</h3>
                <ul>
                  <li>Фото одного из документов (паспорт, ID-карта или водительское удостоверение)</li>
                  <li>Селфи с этим документом и листом, на котором от руки будет написана сегодняшняя дата и подпись</li>
                </ul>
                <p>В случае необходимости, сервис в праве запросить дополнительно, любые другие документы, не указанные в данном разделе.Все присланные изображения (сканы, фото, скриншоты) должны иметь формат jpeg или png.</p>
                <ol>
                  <li>Сроки рассмотрения документов для прохождения KYC-проверки для каждого случая индивидуальны и не регламентируются по времени.</li>
                  <li>Возврат заблокированных активов возможен только при прохождении KYC проверки.</li>
                  <li>Активы пользователя, не прошедшие AML проверку, обмену не подлежат.</li>
                  <li>По результатам KYC положительной проверки, клиенту будет осуществлен возврат с удержанием комиссии в размере 5%.</li>
                  <li>
                    <h3>Пожалуйста, обратите внимание, что наш сервис оставляет за собой право взимать дополнительный комиссионный сбор в размере до 5 процентов от транзакций, если они имеют признаки высокого риска, такие как:</h3>
                    <ul>
                      <li>DARK SERVICE (связанные с тёмной стороной интернета)</li>
                      <li>SCAM (мошенничество)</li>
                      <li>STOLEN (кража или кража данных)</li>
                      <li>MIXING (MIXER) (смешивание средств для сокрытия их происхождения)</li>
                      <li>SEXTORTION (вымогательство на основе компрометирующей информации)</li>
                      <li>RANSOMWARE (вымогательство с использованием вредоносных программ-вымогателей)</li>
                      <li>HACK (взлом)</li>
                      <li>PHISHING (фишинг)</li>
                      <li>TERRORISM FINANCING (финансирование терроризма)</li>
                      <li>FRAUD (мошенничество)</li>
                      <li>BLACKLIST (присутствие в черных списках)</li>
                      <li>STILL UNDER INVESTIGATION (по-прежнему находится под расследованием)</li>
                      <li>CYBERCRIME ORGANIZATION (организация, связанная с киберпреступностью)</li>
                      <li>NARCOTICS (наркотики)</li>
                      <li>CHILD ABUSE (детское насилие)</li>
                      <li>HUMAN TRAFFICKING (торговля людьми)</li>
                      <li>SANCTIONS (санкции)</li>
                    </ul>
                    <p>Этот дополнительный комиссионный сбор применяется для компенсации дополнительного анализа и мер по снижению риска, необходимых для обработки высокорисковых транзакций.</p>
                  </li>
                  <li>Возврат активов невозможен, если по данным активам был получен запрос из компетентных органов или наложен арест/блокировка иных ведомств любой юрисдикции (в этом случае заблокированный актив может проходить как вещественное доказательство).</li>
                  <li>Блокировка также осуществлятся при отправке активов со следующих бирж: Garantex, Tornado Cash, Hydra, Blender.io, Lazarus Group, Genesis Market, ChipMixer, Shinbad.io, Commex а также с любых иранских платформ и других платформ запрещенных/санкционных стран.</li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </article>
    <!-- ] -->
  </main>
{% endblock %}
