{% extends 'base.html' %}
{% load static %}

{% block title %}
  Лучшая Партнерская Программа Криптовалют | Quickex
{% endblock %}

{% block meta %}
  <meta name="description" content="Станьте партнером Quickex, лучшего обменника криптовалют на рынке. Используйте нашу платформу для безопасных, быстрых и эффективных обменов криптовалют." />
  <meta property="og:description" content="Станьте партнером Quickex, лучшего обменника криптовалют на рынке. Используйте нашу платформу для безопасных, быстрых и эффективных обменов криптовалют." />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.ekforOxC.css' %} " />
  <link rel="stylesheet" href="{% static 'css/default.py0zPdmA.css' %} " />
  <link rel="stylesheet" href="{% static 'css/index.iRWhgdAW.css' %} " />
  <link rel="stylesheet" href="{% static 'css/swiper-vue.Q1AM9cWb.css' %} " />
  <link rel="stylesheet" href="{% static 'css/Dialog.77l-ui00.css' %} " />
  <link rel="stylesheet" href="{% static 'css/partners.css' %} " />
{% endblock %}

{% block content %}
  <main data-v-7cfced15="">
    <!-- [ -->
    <div class="nuxt-loading-indicator" style="
              position: fixed;
              top: 0px;
              right: 0px;
              left: 0px;
              pointer-events: none;
              width: auto;
              height: 3px;
              opacity: 0;
              background: repeating-linear-gradient(
                to right,
                rgb(0, 220, 130) 0%,
                rgb(52, 205, 254) 50%,
                rgb(0, 71, 225) 100%
              );
              transform: scaleX(0);
              transform-origin: left center;
              transition: transform 0.1s ease 0s, height 0.4s ease 0s,
                opacity 0.4s ease 0s;
              z-index: 999999;
            "></div>
    <div class="-mt-[81px] flex bg-cover bg-bottom pb-[47px] xl:pb-[64px]" style="
              background-image: url('https://Quickex/_nuxt/sky.nZvOaW7C.png');
            ">
      <div class="container mx-auto text-white mt-[90px] xl:mt-[100px]">
        <h1 class="text-center font-bold text-[24px] xl:text-[54px]">Партнерство с Quickex</h1>
      </div>
    </div>
    <div class="container mx-auto text-white py-10 xl:py-16">
      <section class="xl:border-b xl:border-[#393939]">
        <div>
          <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4 xl:text-center">Многофункциональное решение на базе API Quickex</h2>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold xl:text-center">Для криптовалютных кошельков, обменников, white-label проектов и агрегаторов</p>
        </div>
        <div>
          <div class="max-w-3xl mx-auto px-3 py-6 rounded-md">
            <form class="flex-col md:flex-row flex">
              <div class="px-2 my-2">
                <input id="email-input" type="email" placeholder="email" class="leading-relaxed bg-white w-full rounded-md text-pink-950 p-2 font-semibold" />
              </div>
              <div class="px-2 my-2">
                <input type="password" placeholder="password" class="leading-relaxed bg-white w-full rounded-md text-pink-950 p-2 font-semibold" />
              </div>
              <div class="px-2 my-2">
                <button class="w-full md:px-[100px] md:w-max py-[0.65rem] bg-gradient-to-r from-fuchsia-800 to-pink-800 rounded-md shadow hover:bg-fuchsia-700 focus:bg-fuchsia-700 active:bg-fuchsia-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 font-semibold disabled:opacity-50" disabled="" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
        <div class="flex flex-wrap xl:flex-nowrap gap-7 mt-6 mb-10 xl:mt-16 xl:mb-24">
          <div class="flex -mx-6 px-6 xl:mx-0 xl:px-0 justify-center items-center w-[860px] bg-[url(&#39;/images/affiliate/abstract-bg-2x.png&#39;)] bg-contain bg-no-repeat bg-center">
            <img loading="lazy" src="https://Quickex/images/affiliate/img01-2x.png" srcset="https://Quickex/images/affiliate/img01-2x.png 2x" alt="" />
          </div>
          <div class="flex flex-1 items-center">
            <div class="flex w-full flex-wrap gap-5">
              <div class="flex w-full flex-wrap gap-3 [&amp;&gt;div]:px-5 [&amp;&gt;div]:py-4 xl:[&amp;&gt;div]:px-6 xl:[&amp;&gt;div]:py-4 [&amp;&gt;div]:bg-neutral-700 [&amp;&gt;div]:w-full [&amp;&gt;div]:rounded-md [&amp;&gt;div]:flex [&amp;&gt;div]:items-center [&amp;&gt;div]:gap-3">
                <div>
                  <img loading="lazy" src="https://Quickex/images/icons/quotes.svg" alt="" />
                  Простая интеграция
                </div>
                <div>
                  <img loading="lazy" src="https://Quickex/images/icons/cup.svg" alt="" />
                  Лучшие курсы
                </div>
                <div>
                  <img loading="lazy" src="https://Quickex/images/icons/operator.svg" alt="" />
                  Техническая поддержка
                </div>
                <div>
                  <img loading="lazy" src="https://Quickex/images/icons/like.svg" alt="" />
                  Гибкие комиссии
                </div>
              </div>
              <a type="button" href="mailto:institutional@Quickex" disabled="false" class="inline-flex gap-3 items-center w-full justify-start px-4 py-3 rounded-md font-semibold focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 disabled:pointer-events-none transition ease-in-out duration-150 bg-fuchsia-800 border-transparent text-pink-100 shadow-pbtn hover:bg-fuchsia-700 focus:bg-fuchsia-700 active:bg-fuchsia-900 pl-[3.4rem] xl:pl-[3.7rem]">
                Читать далее
                <img loading="lazy" src="https://Quickex/images/icons/button-arrow-right.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="py-10 xl:pt-24 xl:pb-10">
        <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4">Реферральные ссылки и баннеры</h2>
        <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">Приглашайте своих посетителей обменивать криптовалюту по нашей реферальной ссылке и получайте 50% нашего дохода от транзакций ваших рефералов.</p>
        <div class="flex flex-wrap xl:flex-nowrap gap-6 my-6 xl:my-9 flex-0 xl:[&amp;&gt;div]:flex-1 [&amp;&gt;div]:px-6 [&amp;&gt;div]:py-8 [&amp;&gt;div]:bg-neutral-700 [&amp;&gt;div]:rounded-lg">
          <div class="flex flex-col gap-5 w-full">
            <div class="flex-col p-3 rounded-lg bg-[#B42E92] shadow-[0_0_12px_0_rgba(180,46,146,0.35)] w-[48px] h-[48px]">
              <img loading="lazy" src="https://Quickex/images/icons/get-link.svg" alt="" />
            </div>
            <div class="flex flex-wrap gap-2">
              <h3 class="font-semibold text-[18px]">1. Получите ссылку или баннер</h3>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">Быстро получите уникальную реферальную ссылку или привлекательный баннер, чтобы начать свой путь в качестве реферального партнера в мире криптовалюты.</p>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">
                Эти персонализированные инструменты предназначены для того, чтобы
                <strong>максимально расширить ваши возможности по охвату аудитории и позволить эффективно привлечь аудиторию</strong>
                .
              </p>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">Не только знакомьте других с миром обмена криптовалют, но и открывайте для себя потенциальный поток пассивного дохода.</p>
            </div>
          </div>
          <div class="flex flex-col gap-5 w-full">
            <div class="flex-col p-3 rounded-lg bg-[#B42E92] shadow-[0_0_12px_0_rgba(180,46,146,0.35)] w-[48px] h-[48px]">
              <img loading="lazy" src="https://Quickex/images/icons/people-group.svg" alt="" />
            </div>
            <div class="flex flex-wrap gap-2">
              <h3 class="font-semibold text-[18px]">2. Начните генерировать трафик</h3>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">Привлекайте трафик по своей уникальнуой ссылке, используя свой веб-сайт, платформы социальных сетей или любые другие каналы, имеющиеся в вашем распоряжении.</p>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">Привлекайте свою аудиторию интересным контентом, подчеркивающим преимущества обмена криптовалютой и потенциальные возможности совместного заработка.</p>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">
                Когда количество кликов и показать конверсии начнут расти,
                <strong>вы создадите сеть привлеченных пользователей</strong>
                .
              </p>
            </div>
          </div>
          <div class="flex flex-col gap-5 w-full">
            <div class="flex-col p-3 rounded-lg bg-[#B42E92] shadow-[0_0_12px_0_rgba(180,46,146,0.35)] w-[48px] h-[48px]">
              <img loading="lazy" src="https://Quickex/images/icons/money.svg" alt="" />
            </div>
            <div class="flex flex-wrap gap-2">
              <h3 class="font-semibold text-[18px]">3. Зарабатывайте</h3>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">После того как приглашенные вами пользователи совершают транзакции на нашей платформе, вы автоматически получаете 50% от дохода, полученного от этих транзакций. Это означает, что чем больше людей, которых вы пригласили, будут участвовать в обменах, тем больше будет ваш зароботок</p>
              <p class="text-[16px] text-wgray-200 [&amp;&gt;strong]:font-normal [&amp;&gt;strong]:text-white">Это взаимовыгодная сделка: пользователи получают выгоду от бесперебойных транзакций с криптовалютой, а вы получаете значительную часть дохода, который они помогают генерировать.</p>
            </div>
          </div>
        </div>
        <div class="w-full flex justify-center">
          <div class="w-full xl:w-auto">
            <a type="button" href="mailto:institutional@Quickex%7D" disabled="false" class="inline-flex gap-3 items-center w-full justify-center px-4 py-3 rounded-md font-semibold focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 disabled:pointer-events-none transition ease-in-out duration-150 bg-fuchsia-800 border-transparent text-pink-100 shadow-pbtn hover:bg-fuchsia-700 focus:bg-fuchsia-700 active:bg-fuchsia-900">Зарегистрироваться</a>
          </div>
        </div>
      </section>
      <section class="pt-10 xl:pt-24 pb-3">
        <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4 xl:text-center">Ваш собственный WordPress-обменник с виджетом Quickex</h2>
        <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold xl:text-center">Простой и удобный виджет Quickex для тех, кто хочет создать собственный обменник криптовалют.</p>
        <div class="flex flex-wrap gap-4 mt-6 pt-4 xl:gap-7 xl:pt-0 xl:flex-nowrap xl:mt-16 xl:mb-24">
          <div style="display: flex;
    margin: 0 -6px;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    width: 860px;
    min-height: 200px;
    background-image: url('https://Quickex/images/affiliate/abstract-bg-2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;" id="divoid">
    <style>
        @media (min-width: 1280px) {
            #divoid {
                margin: 0;
                padding: 0;
                min-height: 395px;
            }
        }
    </style>
            <img class="w-[221px] xl:w-auto" src="https://Quickex/images/affiliate/img02-2x.png" srcset="https://Quickex/images/affiliate/img02-2x.png 2x" alt="" />
          </div>
          <div class="flex flex-1 items-center">
            <div class="flex w-full flex-wrap gap-5">
              <div class="flex w-full flex-wrap gap-4 [&amp;&gt;div]:px-6 [&amp;&gt;div]:py-4 [&amp;&gt;div]:bg-neutral-700 [&amp;&gt;div]:w-full [&amp;&gt;div]:rounded-md">
                <div>1. Простая интеграция</div>
                <div>2. Лучшие курсы</div>
                <div>3. Техническая поддержка</div>
              </div>
              <a type="button" href="mailto:institutional@Quickex" disabled="false" class="inline-flex gap-3 items-center w-full justify-start px-4 py-3 rounded-md font-semibold focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-25 disabled:pointer-events-none transition ease-in-out duration-150 bg-fuchsia-800 border-transparent text-pink-100 shadow-pbtn hover:bg-fuchsia-700 focus:bg-fuchsia-700 active:bg-fuchsia-900 px-6">
                Читать далее
                <img loading="lazy" src="https://Quickex/images/icons/button-arrow-right.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- ] -->
  </main>
{% endblock %}
