{% extends 'base.html' %}
{% load static %}

{% block title %}
  Центр Поддержки Клиентов | Quickex
{% endblock %}

{% block meta %}
  <meta name="description" content="Столкнулись с проблемой при обмене криптовалют? На Quickex наша надежная система поддержки предоставляет своевременную помощь для всех ваших торговых операций." />
  <meta property="og:description" content="Столкнулись с проблемой при обмене криптовалют? На Quickex наша надежная система поддержки предоставляет своевременную помощь для всех ваших торговых операций." />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/swiper-vue.BDUAz1xZ.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Dialog.DvuX66LT.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index.B6R-is7E.css' %}" />
  <link rel="stylesheet" href="{% static 'css/default.CnLTM92Y.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index.CJFaGB0B.css' %}" />
  <link rel="stylesheet" href="{% static 'css/support.css' %}" />
{% endblock %}

{% block content %}
  <main data-v-7cfced15="">
    <!-- [ -->
    <div class="nuxt-loading-indicator" style="
              position: fixed;
              top: 0px;
              right: 0px;
              left: 0px;
              pointer-events: none;
              width: auto;
              height: 3px;
              opacity: 0;
              background: repeating-linear-gradient(
                to right,
                rgb(0, 220, 130) 0%,
                rgb(52, 205, 254) 50%,
                rgb(0, 71, 225) 100%
              );
              transform: scaleX(0);
              transform-origin: left center;
              transition: transform 0.1s ease 0s, height 0.4s ease 0s,
                opacity 0.4s ease 0s;
              z-index: 999999;
            "></div>
    <div class="-mt-[81px] flex bg-cover bg-bottom pb-[47px] xl:pb-[64px]" style="
              background-image: url('https://quickex.io/_nuxt/sky.Cdm85pbs.png');
            ">
      <div class="container mx-auto text-white mt-[90px] xl:mt-[100px]">
        <h1 class="text-center font-bold text-[24px] xl:text-[54px]">Центр Поддержки Клиентов 24/7</h1>
      </div>
    </div>
    <div class="container mx-auto text-white py-10 xl:py-16">
      <section>
        <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4 text-center">Если у вас возникли технические или финансовые вопросы, напишите нам, и мы поможем вам решить вашу проблему. Мы отвечаем на ваши вопросы в течение 15-60 минут, в зависимости от загруженности сервиса.</h2>
        <div class="flex flex-col xl:flex-row gap-5 xl:gap-10 mt-20 mb-16 [&amp;&gt;*]:bg-neutral-700 [&amp;&gt;*]:rounded-[22px] [&amp;&gt;*]:px-7 [&amp;&gt;*]:py-9 [&amp;&gt;*]:flex xl:[&amp;&gt;*]:flex-col [&amp;&gt;*]:gap-6 [&amp;&gt;*]:flex-1 [&amp;&gt;*]:items-center [&amp;&gt;*]:justify-center">
          <a href="https://t.me/quickex_support_official_bot" target="_blank">
            <div class="w-[35px] xl:w-auto">
              <svg class="w-full h-auto" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M62.1192 52.2338L67.8407 35.0693C72.8389 20.0747 75.338 12.5774 71.3805 8.6198C67.4229 4.66224 59.9256 7.16134 44.931 12.1595L27.7665 17.881C15.6644 21.9151 9.61339 23.9321 7.89385 26.8899C6.25804 29.7037 6.25804 33.1789 7.89385 35.9927C9.61339 38.9505 15.6644 40.9676 27.7665 45.0016C29.7097 45.6493 30.6813 45.9732 31.4934 46.5169C32.2805 47.0437 32.9566 47.7198 33.4834 48.5069C34.0271 49.319 34.351 50.2906 34.9987 52.2338C39.0327 64.3358 41.0497 70.3869 44.0075 72.1064C46.8213 73.7422 50.2966 73.7422 53.1104 72.1064C56.0682 70.3869 58.0852 64.3358 62.1192 52.2338Z" stroke="white" stroke-width="6"></path>
                <path d="M54.3901 29.8506C55.5682 28.6856 55.5787 26.7861 54.4137 25.608C53.2486 24.43 51.3491 24.4195 50.1711 25.5845L54.3901 29.8506ZM35.8937 48.1432L54.3901 29.8506L50.1711 25.5845L31.6746 43.8771L35.8937 48.1432Z" fill="white"></path>
              </svg>
            </div>
            <div class="text-base xl:text-2xl">
              Напишите нам в
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-[#90287B] to-[#9E2A5F] shadow-numbers">Telegram</span>
            </div>
          </a>
          <button target="_blank">
            <div class="w-[35px] xl:w-auto">
              <svg class="w-full h-auto" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M39.9997 73.3333C58.4092 73.3333 73.333 58.4095 73.333 40C73.333 21.5905 58.4092 6.66663 39.9997 6.66663C21.5902 6.66663 6.66634 21.5905 6.66634 40C6.66634 45.3322 7.9184 50.3721 10.1445 54.8415C10.7361 56.0293 10.933 57.3868 10.5901 58.6687L8.60471 66.0888C7.74286 69.3099 10.6897 72.2568 13.9108 71.3949L21.331 69.4096C22.6128 69.0666 23.9704 69.2635 25.1581 69.8551C29.6276 72.0812 34.6674 73.3333 39.9997 73.3333Z" stroke="white" stroke-width="6"></path>
                <path d="M26.667 35H53.3337" stroke="white" stroke-width="6" stroke-linecap="round"></path>
                <path d="M26.667 46.6666H45.0003" stroke="white" stroke-width="6" stroke-linecap="round"></path>
              </svg>
            </div>
            <div class="text-base xl:text-2xl">
              Напишите сейчас в наш
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-[#90287B] to-[#9E2A5F] shadow-numbers">онлайн-чат</span>
            </div>
          </button>
          <a href="mailto:help@support.Quickex" class="">
            <div class="w-[35px] xl:w-auto">
              <svg class="w-full h-auto" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.66602 40C6.66602 27.4293 6.66602 21.1439 10.5713 17.2386C14.4765 13.3334 20.7619 13.3334 33.3327 13.3334H46.666C59.2368 13.3334 65.5222 13.3334 69.4274 17.2386C73.3327 21.1439 73.3327 27.4293 73.3327 40C73.3327 52.5708 73.3327 58.8562 69.4274 62.7615C65.5222 66.6667 59.2368 66.6667 46.666 66.6667H33.3327C20.7619 66.6667 14.4765 66.6667 10.5713 62.7615C6.66602 58.8562 6.66602 52.5708 6.66602 40Z" stroke="white" stroke-width="6"></path>
                <path d="M20 26.6666L27.1963 32.6636C33.3184 37.7653 36.3795 40.3162 40 40.3162C43.6205 40.3162 46.6816 37.7653 52.8037 32.6636L60 26.6666" stroke="white" stroke-width="6" stroke-linecap="round"></path>
              </svg>
            </div>
            <div class="text-base xl:text-2xl whitespace-nowrap">
              Свяжитесь с нами по
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-[#90287B] to-[#9E2A5F] shadow-numbers">E-mail</span>
            </div>
          </a>
        </div>
        <p class="text-center text-[28px]">
          Мы работаем
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-[#90287B] to-[#9E2A5F]">24/7</span>
          для Вас и Вашего комфорта
        </p>
      </section>
    </div>
    <!-- ] -->
  </main>
{% endblock %}
