{% extends 'base.html' %}
{% load static %}

{% block title %}
  Как Происходит Самый Быстрый Обмен Криптовалют? | Quickex.io
{% endblock %}

{% block meta %}
  <meta name="description" content="На Quickex.io мы предлагаем мгновенный и безопасный обмен криптовалют. Узнайте, как наш интуитивно понятный сервис обеспечивает быстрые транзакции с помощью передовых технологий и по выгодным курсам." />
  <meta property="og:description" content="На Quickex.io мы предлагаем мгновенный и безопасный обмен криптовалют. Узнайте, как наш интуитивно понятный сервис обеспечивает быстрые транзакции с помощью передовых технологий и по выгодным курсам." />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/swiper-vue.BDUAz1xZ.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Dialog.DvuX66LT.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index.B6R-is7E.css' %}" />
  <link rel="stylesheet" href="{% static 'css/default.CnLTM92Y.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index.CJFaGB0B.css' %}" />
  <link rel="stylesheet" href="{% static 'css/how_it_works.css' %}" />
{% endblock %}

{% block content %}
  <main data-v-7cfced15="">
    <!-- [ -->
    <div class="nuxt-loading-indicator" style="
              position: fixed;
              top: 0px;
              right: 0px;
              left: 0px;
              pointer-events: none;
              width: auto;
              height: 3px;
              opacity: 0;
              background: repeating-linear-gradient(
                to right,
                rgb(0, 220, 130) 0%,
                rgb(52, 205, 254) 50%,
                rgb(0, 71, 225) 100%
              );
              transform: scaleX(0);
              transform-origin: left center;
              transition: transform 0.1s ease 0s, height 0.4s ease 0s,
                opacity 0.4s ease 0s;
              z-index: 999999;
            "></div>
    <div class="-mt-[81px] flex bg-cover bg-bottom pb-[47px] xl:pb-[64px]" style="
              background-image: url('https://quickex.io/_nuxt/sky.Cdm85pbs.png');
            ">
      <div class="container mx-auto text-white mt-[90px] xl:mt-[100px]">
        <h1 class="text-center font-bold text-[24px] xl:text-[54px]">Процесс Обмена Криптовалют</h1>
      </div>
    </div>
    <div class="container mx-auto text-white py-10 xl:py-16 [&amp;&gt;section:not(:first-child)]:my-6 xl:[&amp;&gt;section:not(:first-child)]:my-16 [&amp;&gt;section]:flex [&amp;&gt;section]:gap-6 xl:[&amp;&gt;section]:gap-12 xl:[&amp;&gt;section&gt;div]:flex-1 [&amp;&gt;section]:text-white [&amp;&gt;section]:flex-wrap xl:[&amp;&gt;section]:flex-nowrap">
      <section>
        <div>
          <img srcset="https://quickex.io/images/how-it-works/how-it-works-01-2x.png 2x" src=" https://quickex.io/images/how-it-works/how-it-works-01-2x.png" alt="" />
        </div>
        <div>
          <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4">1. Выберите желаемую валютную пару</h2>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              Чтобы инициировать обмен на Quickex,
              <strong>начните с выбора криптовалюты, которую вы хотите обменять.</strong>
              Платформа поддерживает широкий спектр криптовалют, что позволяет вам выбирать из всех популярных вариантов.
            </span>
          </p>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              <strong>Выберите криптовалюту, которую вы собираетесь продать,</strong>
              из раскрывающегося списка «Отправляете»
              <strong>и, соответственно, криптовалюту, которую хотите получить,</strong>
              из раскрывающегося списка «Получаете».
            </span>
          </p>
        </div>
      </section>
      <section>
        <div class="order-1 xl:order-none">
          <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4">2. Укажите количество средств и адрес получения</h2>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">После того, как вы выбрали желаемую криптовалютную пару, укажите количество средств, которые вы хотите обменять, и введите адрес, на который хотите получить средства в результате обмена.</span>
          </p>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              <strong>Введите желаемую сумму обмена</strong>
              в поле «Отправляете». Значение в поле «Получаете» будет рассчитано автоматически с учетом текущего обменного курса.
            </span>
          </p>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              В завершение,
              <strong>заполните поле «Адрес назначения»,</strong>
              указав нам адрес, на который вы хотите получить обмененные средства. Мы настоятельно рекомендуем перепроверить адрес, чтобы обеспечить успешную транзакцию.
            </span>
          </p>
        </div>
        <div>
          <img srcset="https://quickex.io/images/how-it-works/how-it-works-02-2x.png 2x" src="https://quickex.io/images/how-it-works/how-it-works-02-2x.png" alt="" />
        </div>
      </section>
      <section>
        <div>
          <img srcset="https://quickex.io/images/how-it-works/how-it-works-03-2x.png 2x" src="https://quickex.io/images/how-it-works/how-it-works-03-2x.png" alt="" />
        </div>
        <div>
          <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4">3. Совершите перевод</h2>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">Успешно выполнив предыдущие шаги, пришло время осуществить перевод.</span>
          </p>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">Вы будете перенаправлены на страницу обмена, где будет указан адрес отправки и точная сумма средств, подлежащих переводу.</span>
          </p>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              Теперь зайдите в свой кошелек и
              <strong>отправьте точную сумму средств на адрес Quickex.</strong>
              Сразу после того, как переведенные средства поступят на наш счет, мы уведомим вас об этом.
            </span>
          </p>
        </div>
      </section>
      <section>
        <div class="order-1 xl:order-none">
          <h2 class="text-left font-medium text-white text-[24px] mb-3 xl:text-[28px] xl:mb-4">4. Получите обмененную криптовалюту</h2>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              После того, как вы подтвердили все детали и осуществили перевод, Quickex позаботится обо всем остальном.
              <strong>Наша платформа быстро выполнит обмен вашей криптовалюты по наиболее выгодному действующему курсу.</strong>
            </span>
          </p>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              После завершения транзакции обмененные средства будут переведены непосредственно на указанный вами адрес кошелька.
              <strong>Транзакции обычно занимают несколько минут,</strong>
              хотя это время может быть увеличено из-за нагрузки сети.
            </span>
          </p>
          <p class="text-left font-light my-3 text-wgray-200 xl:my-4 text-[16px] xl:text-[18px] [&amp;&gt;strong]:text-white [&amp;&gt;strong]:font-semibold">
            <span class="[&amp;&gt;strong]:font-semibold [&amp;&gt;strong]:text-white">
              Будьте уверены,
              <strong>ваши полученные средства будут надежно зачислены на ваш кошелек.</strong>
            </span>
          </p>
        </div>
        <div>
          <img srcset="https://quickex.io/images/how-it-works/how-it-works-04-2x.png 2x" src="https://quickex.io/images/how-it-works/how-it-works-04-2x.png" alt="" />
        </div>
      </section>
    </div>
    <section class="py-28 bg-cover bg-center" style="
              background-image: url('https://quickex.io/_nuxt/sky.Cdm85pbs.png');
            ">
      {% include "crypto/form.html" %}
    </section>
    <!-- ] -->
  </main>
{% endblock %}
